*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body
{
    background-color: #E7E7E7;
    padding-left: 50px;
}

.bloco
{
    max-width: 960px;
    /*width: 500px;*/
    margin: 100px auto 0 auto;

}

/* ---- Cabeçalho ------ */
header
{
    display: flex;
    align-items: center;
}

header img
{
    height: 36px;
    margin-right: 16px;
}

header h1
{
    font-size: 40px;
    font-weight: bold;
}

/* ---- formulario -----*/
form
{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 36px;
}

form input
{
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button
{
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

/* ----- Tabela -------- */
table
{
    width: 100%;
}

table th
{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td
{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img
{
    height: 30px;
}

/* -------  Dentro do Spam  -------- */
.resultado
{
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado
{
    background-color: #009432;
}

.reprovado
{
    background-color: red;
}